@import 'src/assets/scss/_variables';

 h1{
    max-width: $base-width;
    margin: 30px auto 0; 
    display: flex;
    justify-content: center;
}

.bottom{
    padding: 0 0 4em;
}

@media (max-width: 655px) { 
    
    h1{
        font-size: 1.3em;
    }
    
}